@import "~bootstrap/scss/bootstrap";

.nav-link{
  margin-right: 10px;
}

.card-deck {
  margin-top: 10px;
  justify-content: space-between;

  .card {
    max-width: 31%;
    align-items: center;
    padding: 10px 0;
    flex: none;
    margin: 0 0 10px 0 !important;
    .card-header{
      display: flex;
    }
  }
}

.pizzaSVG {
  width: 100px;
  margin:10px;
}

.summary-cart{
  display: flex;
  p{
    margin: 0 10px;
  }
}

.header-summary{
  margin-left: auto;
}

.container-cart{
  margin-top:10px;
  h2{
    padding:10px;
  }
  .card{
    padding: 0;
    flex-direction: row;
    .card-body{
      display: flex;
      .info{
        padding:10px 0;
      }
      ul {
        list-style-type: none;
      }
    }
    div{
      border: 0;
    }
  }
}
