@import "~bootstrap/scss/bootstrap";

.nav-link{
  margin-right: 10px;
}

.card-deck {
  margin-top: 10px;
  justify-content: space-between;

  .card {
    max-width: 31%;
    align-items: center;
    padding: 10px 0;
    flex: none;
    margin: 0 0 10px 0 !important;
    .card-header{
      display: flex;
    }
  }
}

.pizzaSVG {
  width: 100px;
  margin:10px;
}

.header-cart{
  margin-left: auto;
  .nav-link{
    display: flex;
    p{
      margin-right: auto;
      margin-left: 10px;
    }
  }

}
