@import "~bootstrap/scss/bootstrap";

.nav-link{
  margin-right: 10px;
}

.card-deck{
  margin-top: 10px;
}

.card {
  align-items: center;
  padding: 10px 0;
}

.pizzaSVG {
  width: 100px;
  margin:10px;
}

.header-cart{
  margin-left: auto;
  .nav-link{
    display: flex;
    p{
      margin-right: auto;
      margin-left: 10px;
    }
  }

}
